/*
Червоний #e7717d
Сірий #c2c9cf
Зелений #add274
Коричневий #7e685a
Білий white
*/
*{
    margin: 0;
    font-weight: bold;
}
header{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #7e685a;
    color: white;
    font-weight: bold;
}
.main-grid{
    display: flex;
    flex-direction: column;
    background-color: #c2c9cf;
    text-align: center;
    align-items: space-evenly;
}
div > div{
    background-color: #add274;
    margin: 50px;
    margin-right: 150px;
    margin-left: 150px;
    min-height: 550px;
    display: none;
}

button{
    margin: 20px;
    width: 150px;
    height: 30px;
    font-size: 16px;
}

.entry-point{
    display: inline-block;
}
h2{
    margin: 30px;
}
input{
    margin: 20px;
}

.drag-and-drop-question{
    display: grid;
    grid-template-areas: '. .';
}

.template-grid{
    display: grid;
    grid-template-areas: 'block1 block2' 'block3 block4';
    background-color:#c2c9cf;
    gap:10px;
    min-height: 300px;
    height: 450px;
    width: 500px;
    padding-top: 25px;
}

.drag-and-drop-answers{
    width: 400px;
    margin: 0;
    padding: 0;
    text-align: left;
}

.block-1{
    background-color:#add274;
    grid-area: block1;
    width: 160px;
    min-height: 100px;
    margin:0;
}
.block-2{
    background-color:#7e685a;
    grid-area: block2;
    width: 300px;
    min-height: 100px;
    height: 200px;
    margin:0;
}
.block-3{
    background-color:#e7717d;
    grid-area: block3;
    width: 160px;
    min-height: 100px;
    height: 200px;
    margin:0;
}
.block-4{
    background-color: #add274;
    grid-area: block4;
    width: 300px;
    min-height: 100px;
    margin:0;
}

.dragItem{
    display: inline-block;
    min-width: none;
    width: 150px;
    min-height: 50px;
    margin: 10px;
    padding: 10px;
    border: solid 1px black;
    text-align: left;
}

.draged{
    border: 0px;
    background-color: transparent;
}
.dragging{
    opacity: 0.5;
}
.border-entering{
    border: 2px solid black;
}
p{
    text-indent: 15px;
}

select{
    margin-top: 20px;
    margin-bottom: 20px;
}

.implement-css-question{
    display: grid;
    grid-template-areas: '. .';
    gap: 0px;
}
.implement-css-answers{
    width: 400px;
    margin: 0;
    padding: 0;
    text-align: left;
}
.template-grid-css-implementation{
    display: grid;
    grid-template-areas: 'block5 block6' 'block7 block8';
    background-color:#c2c9cf;
    gap: 0px;
    min-height: 300px;
    height: 450px;
    width: 500px;
    padding: 25px;
    margin: 50px;
}
.block-5{
    background-color:#add274;
    grid-area: block5;
    width: 160px;
    min-height: 100px;
    margin:0;
    padding: 0;
}
.block-6{
    background-color:#7e685a;
    grid-area: block6;
    width: 300px;
    min-height: 100px;
    height: 200px;
    margin:0;
}
.block-7{
    background-color:#e7717d;
    grid-area: block7;
    width: 160px;
    min-height: 100px;
    height: 200px;
    margin:0;
}
.block-8{
    background-color: #add274;
    grid-area: block8;
    width: 300px;
    min-height: 100px;
    margin:0;
}

textarea{
    width: 400px;
    height: 250px;
    margin-left: 30px;
    color:#e7717d;
    background-color: #c2c9cf;
}

.enter-the-word{
    margin: 0;
    width: 60px;
    text-align: right;
}