/*
Червоний #e7717d
Сірий #c2c9cf
Зелений #add274
Коричневий #7e685a
Білий white
*/
*{
    margin: 0;
}
header{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #7e685a;
    color: white;
    font-weight: bold;
}
.main-grid{
    display: flex;
    flex-direction: column;
    background-color: #c2c9cf;
    text-align: center;
    align-items: space-evenly;
}
div > div{
    background-color: #add274;
    margin: 50px;
    margin-right: 150px;
    margin-left: 150px;
    min-height: 550px;
    display: none;
}
.test{
    display: none;
}
.entering-form{
    display: none;
}
h2{
    margin: 30px;
}
input{
    margin: 20px;
}
.question-1{
    display: inline-block;
}